/* подключение шрифтов из локальной папки */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff') format('woff');
  src: url('../fonts/roboto.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff') format('woff');
  src: url('../fonts/robotobold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff') format('woff');
  src: url('../fonts/robotomedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* описание для border-box */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
  *, *::before, *::after {
  box-sizing: inherit;
}

/* описание тега body */
body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
}

 /* уберем подчеркивание у ссылок */
a {
  text-decoration: none;
}

/* описание стиля visually-hidden */
.visually-hidden {
  visibility: hidden;
  position: absolute;
}

/* описание сеток */
.page_wrapper {
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: center top;
}

.catalog_page {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #9cb0a5), color-stop(40%, #849d8f));
  background-image: -webkit-linear-gradient(top, #9cb0a5 1%, #849d8f 40%);
  background-image: -o-linear-gradient(top, #9cb0a5 1%, #849d8f 40%);
  background-image: linear-gradient(to bottom, #9cb0a5 1%, #849d8f 40%);
}

.page_wrapper::before,
.page_wrapper::after {
  content: "";
  visibility: hidden;
}

.page_wrapper::before {
  background-image: url('../img/ice_cream_slide2.png');
}

.page_wrapper::after {
  background-image: url('../img/ice_cream_slide3.png');
}

.main_header {
  width: 1200px;
  min-width: 940px;
  margin: 0 auto;
}

.main_navigation {
  display: -webkit-box;
    display: -ms-flexbox;
      display: flex;
  margin-bottom: -6px;
  height: 77px;
  font-size: 16px;
  line-height: 18px;
}

.main_header_logo {
  -ms-flex-item-align: end;
    align-self: flex-end;
  margin-right: 10px;
  margin-left: 27px;
  width: 154px;
}

.site_navigation,
.user_navigation,
.subnavigation {
 list-style: none;
}

.catalog_navigation {
  margin-bottom: 4px;
}

/* главное меню */
.main_navigation_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
}

.site_navigation {
  margin: 0;
  margin-bottom: -3px;
  padding: 0;
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation_item {
  padding-top: 23px;
  padding-bottom: 25px;
}

.navigation_label {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation_item > a {
  padding: 7px 14px;
  color: #ffffff;
  font-weight: 700;
}

.navigation_item > .current {
  background-color: #d07058;
  border-radius: 15px;
}

.current span {
  border-bottom: none;
}

.navigation_item > a:hover,
.navigation_item > a:focus {
  border: none;
  border-radius: 16px;
  color: #333333;
  background-color: #f7f6f3;
}

.navigation_item > a:active {
  background-color: rgba(234, 234, 234, 1);
  -webkit-box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
          box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.catalog_item {
  position: relative;
}

.catalog_item:hover .subnavigation{
  display: block;
}

/* стили подменю */
.subnavigation {
  position: absolute;
  top: 54px;
  left: -6px;
  z-index: 1;
  display: none;
  min-width: 143px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: #f8f7f4;
}

.subnavigation p {
  display: block;
  margin: 0;
  padding: 10px 0px 12px 19px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #323232;
  border-bottom: 1px solid #d1d0ce;
}

.subnavigation a {
  display: block;
  padding: 9px 0px 6px 19px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
  border: none;
}

.subnavigation_item .current {
  color: #ffffff;
  background-color: #d07058;
}

.subnavigation_item a:hover,
.subnavigation_item a:focus {
  background-color: rgba(208, 112, 88, 0.2);
}

.subnavigation_item a:active {
  background-color: rgba(208, 112, 88, 0.5);
}

.subnavigation li:last-child {
  margin-bottom: 8px;
}

/* стили меню пользователя */
.user_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 300px;
}

.user_navigation li:not(:last-child) {
  margin-right: 10px;
}

.user_navigation li:nth-child(2) {
  margin-right: 9px;
}

.user_navigation > li:last-child {
  margin-right: 27px;
}

.user_navigation > li:first-child {
  margin-left: auto;
}

.magnifier_button,
.login_button,
.cart_button {
  padding: 8px 35px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.magnifier_button:hover,
.magnifier_button:focus,
.login_button:hover,
.login_button:focus,
.cart_button:hover,
.cart_button:focus {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

/* поиск */
.magnifier {
  position: relative;
  margin-bottom: 3px;
  padding-top: 13px;
  padding-bottom: 12px;
}

.magnifier a {
  padding: 7px 9px 7px 7px;
  border-radius: 50%;
}

.magnifier:hover .magnifier_field {
  display: block;
}

.magnifier_button {
  width: 33px;
  height: 33px;
}

.magnifier svg {
  position: relative;
  top: 4px;
}

.magnifier_field {
  position: absolute;
  right: 0;
  top: 47px;
  display: none;
  margin: 0;
  padding: 0;
  padding: 20px 15px;
  border-radius: 5px;
  list-style: none;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.magnifier_field input {
  width: 311px;
  padding: 15px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  font: inherit;
  line-height: 24px;
  background-color: #ffffff;
  color: #323232;
}

.magnifier_field input::-webkit-input-placeholder {
  font-weight: 400;
  color:#999999;
}
.magnifier_field input::-moz-placeholder {
  font-weight: 400;
  color:#999999;
}
.magnifier_field input:-moz-placeholder {
  font-weight: 400;
  color:#999999;
}
.magnifier_field input:-ms-input-placeholder {
  font-weight: 400;
  color:#999999;
}

.magnifier_field  input:hover {
  border: 2px solid rgba(154,154,154,0.52);
  padding: 14px;
  color: #323232;
}

.magnifier_field  input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding: 14px;
  color:  #323232;
}

.magnifier_button:hover path,
.magnifier_button:focus path {
   fill: #000000;
}

 /* вход */
.login {
  position: relative;
  padding-top: 10px;
  padding-bottom: 12px;
}

.login_button {
  padding-right: 16px;
  padding-left: 16px;
}

.login_button,
.cart_button {
  position: relative;
  padding-left: 44px;
}

.cart_button {
  padding-right: 15px;
}

.login_button::before,
.cart_button::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  width: 21px;
  height: 21px;
}

.login_button::before {
  background-image: url('../img/enter.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart_button::before {
  background-image: url('../img/cart.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.empty_cart .cart_button{
  padding-right: 17px;
}

.cart_fill .cart_button::before {
  padding-top: 16px;
  padding-bottom: 16px;
  background-image: url('../img/cart_fill.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login_button:focus::before,
.login_button:hover::before {
  background-image: url('../img/enter_fill.svg');
}

.cart_button:focus::before,
.cart_button:hover::before {
  background-image: url('../img/cart_black.svg');
}

.cart_fill > a {
  color: #323232;
  background-color: #ffffff;
}

.cart_fill a:focus::before,
.cart_fill a:hover::before {
  background-image: url('../img/cart_fill.svg');
}

 .login:hover .login_form {
  display: block;
 }

.login_form {
  position: absolute;
  right: -3px;
  top: 45px;
  z-index: 1;
  display: none;
  margin: 0;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 20px;
  padding-left: 19px;
  border-radius: 5px;
  list-style: none;
  background: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login_item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.login_form input {
  width: 241px;
  padding: 15px;
  font: inherit;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.login_form input::-webkit-input-placeholder {
  font-weight: 400;
  color:#999999;
}
.login_form input::-moz-placeholder {
  font-weight: 400;
  color:#999999;
}
.login_form input:-moz-placeholder {
  font-weight: 400;
  color:#999999;
}
.login_form input:-ms-input-placeholder {
  font-weight: 400;
  color:#999999;
}

.login_form input:focus {
  border: 2px solid  rgba(46, 136, 228, 0.52);
  padding: 14px;
  color: #323232;
}

.login_form input:hover {
  border: 2px solid rgba(154 ,154, 154, 0.52);
  padding: 14px;
  color: #323232;
}

 .login_form_forgot,
 .login_form_sign_up {
  display: block;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  background: transparent;
 }

 .login_form_forgot:hover,
 .login_form_sign_up:hover,
 .login_form_forgot:focus,
 .login_form_sign_up:focus
 .login_form_forgot:active,
 .login_form_sign_up:active {
  color: #ffbc9e;
 }

.links_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.links {
  margin: 0;
  margin-left: 21px;
}

.links a {
  font-weight: 400;
  line-height: 24px;
  font-size: 13px;
  text-align: left;
  color: #323232;
  text-decoration: underline;
}

.button.login {
  width: 100px;
  height: 44px;
  padding: 14px 23px;
  border-radius: 22px;
  font: inherit;
  font-size: 18px;
  color: #f8f7f4;
}

/* корзина */
.cart {
  padding-top: 13px;
  padding-bottom: 12px;
}

.cart_fill {
  position: relative;
}

.cart_fill:hover .cart_content {
  display: block;
}

.cart_content {
  position: absolute;
  right: 0px;
  top: 45px;
  z-index: 1;
  display: none;
  margin: 0;
  padding: 0;
  padding: 10px 15px;
  width: 540px;
  border-radius: 5px;
  list-style: none;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
}

.cart_content > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart_table {
  margin: 0;
  padding: 0;
  width: 510px;
  min-height: 107px;
  list-style: none;
}

.cart_item {
  position: relative;
  min-height: 51px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #323232;
}

.last_cart_item {
  padding-bottom: 17px;
  border-bottom: 1px solid #cacac7;
}

.last_cart_item .cart_item_title {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.delete_cart_item {
  position: absolute;
  left: -2px;
  top: 25px;
  width: 9px;
  height: 9px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.delete_cart_item::before,
.delete_cart_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 1px;
  background-color: #231f20;
}

.delete_cart_item::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.delete_cart_item::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart_item_img {
  margin-right: 14px;
  margin-left: 25px;
}

.cart_item_title {
  display: block;
  width: 217px;
}

.cart_item_title,
.cart_item_cost {
  margin-right: 30px;
}

.cart_item_cost b {
  font-size: 13px;
  line-height: 16px;
  color: #999999;
  font-weight: 500;
}

.cart_cost {
  min-height: 47px;
}

.cart_cost span {
  margin-right: 14px;
  margin-left: auto;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  font-weight: 700;
}

.cart_order_button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/* продолжение описания сеток */
.container {
  width: 1200px;
  min-width: 940px;
  margin: 0 auto;
  padding: 0px 27px;
}

.container h1 {
  margin-top: -9px;
  margin-bottom: 26px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
}

/* информация для пользователей */
.information {
  margin-bottom: 40px;
}

.under_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
}

.under_header a:hover,
.under_header a:focus,
.under_header a:active {
  color: #ffbc9e;
}

.no_breadcrumbs {
  -webkit-box-pack: end;
    -ms-flex-pack: end;
      justify-content: flex-end;
}
.with_breadcrumbs {
  margin-top: -15px;
}
.schedule_phone a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.schedule_phone p {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 6px;
  padding: 0;
  padding-left: 16px;
}


.breadcrumbs  .schedule_phone p {
  margin-top: -14px;
  margin-bottom: 6px;
  padding-left: 16px;
}

.breadcrumbs .schedule_phone {
  margin-bottom: 7px;
}

/* стили блока слайдов*/
.slider {
  width: 1105px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  padding-top: 275px;
  text-align: center;
  color: #ffffff;
}

.slider_slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide_title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider_dots {
  position: absolute;
  bottom: 24px;
  left: -20px;
  z-index: 20;
  font-size: 0;
}

.slider_dots label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

.slider_dots label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#button_1:checked ~ .page_wrapper .slider #slide_1,
#button_2:checked ~ .page_wrapper .slider #slide_2,
#button_3:checked ~ .page_wrapper .slider #slide_3 {
  display: block;
}

#button_1:checked ~ .page_wrapper .slider label[for="button_1"],
#button_2:checked ~ .page_wrapper .slider label[for="button_2"],
#button_3:checked ~ .page_wrapper .slider label[for="button_3"] {
  background-color: #ffffff;
}

#button_1:checked ~ .page_wrapper {
  background-color: #849d8f;
  background-image: url('../img/ice_cream_slide1.png');
}
#button_2:checked ~ .page_wrapper {
  background-color: #8996a6;
  background-image: url('../img/ice_cream_slide2.png');
}
#button_3:checked ~ .page_wrapper {
  background-color: #9d8b84;
  background-image: url('../img/ice_cream_slide3.png');
}

.slide_button {
  padding: 10px 42px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}
/* окончание слайдера*/

/* описание стилей кнопок*/
.button {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 35px;
  -webkit-box-shadow: 0 1px 1px rgba(172, 16, 0, 0.64);
          box-shadow: 0 1px 1px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ed705e;
  background-image: -webkit-gradient( linear, left top, right top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient( left, #e74a35 0%, #f26843 100%);
  background-image: -o-linear-gradient( left, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient( 90deg, #e74a35 0%, #f26843 100%);
  background-image: -webkit-linear-gradient( 90deg, #e74a35 0%, #f26843 100%);
  background-image: -ms-linear-gradient( 90deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0px 1px 2px 0 #ac1000;
          box-shadow: 0px 1px 2px 0 #ac1000;
}

.button:active {
  background-color: #e74a35;
  background-image: -webkit-linear-gradient( 90deg, #e74a35 0%, #f26843 100%);
  background-image: -ms-linear-gradient( 90deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: inset 0px 2px 2px 0 #942718;
          box-shadow: inset 0px 2px 2px 0 #942718;
}

/* стили блока Подарки*/
.presents {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
 }

.presents > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 560px;
  min-height: 206px;
  padding: 16px 20px;
  border-radius: 15px;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.presents h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
}

.presents p {
  margin: 0;
  padding: 0;
}

.raspberry {
  background-color: #b51c2e;
  background-image: url('../img/raspberries_free.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.chocolate {
  background-color: #5b351a;
  background-image: url('../img/chocolate_free.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.presents .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 45px;
  margin-bottom: 8px;
  padding: 11px 23px;
}

/* ссылки в хитах продаж*/
.hits {
  padding-top: 40px;
  min-height: 363px;
}

.description a {
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.description a:hover,
.description a:focus,
.description a:active{
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

/* стили блока SEO*/
.seo {
  min-height: 256px;
  margin: 0px;
  margin-top:-2px;
  padding-top: 25px;
  padding-right: 21px;
  padding-bottom: 23px;
  padding-left: 21px;
  border-radius: 15px;
  color: #323232;
  background-color: #f1e8d5;
  background-image: url('../img/waffles_fon.jpg');
  background-position: top left;
  background-repeat: repeat;
  background-size: auto;
}

.seo_header {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.seo_items {
  font-weight: 400;
  line-height: 22px;
  list-style: none;
}

/* Блог + Подписка на рассылку */
.blogs_subscribe {
  padding: 0;
  margin: 41px 0px;
  min-height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs,
.subscribe_form {
  width: 560px;
  padding-bottom: 22px;
  border-radius: 15px;
}

.subscribe_form {
  width: 560px;
  padding-bottom: 30px
}

/* стили блока Блог*/
.blogs {
  margin-right: auto;
  color: #323232;
  background-color: #ffffff;
  background-image:url('../img/strawberry_background.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blogs h3 {
  font-weight: 500;
  margin: 0;
  margin-top: 23px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 22px;
}

.information_blog {
  display: block;
  width: 281px;
  margin-left: 20px;
  margin-top: 4px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: bold;
  text-decoration: underline;
}

.blogs_subscribe a:hover,
.blogs_subscribe a:focus,
.blogs_subscribe a:active{
  color: #e84d37;
  border-bottom-color: #f9cdc4;
}

/* стили блока Подписка на рассылку*/
.subscribe_form {
  color: #323232;
  background-color: #f8f7f4;
  border: 5px solid #fe9e90;
  -webkit-border-image: url('../img/post_background.png') 5 round round;
       -o-border-image: url('../img/post_background.png') 5 round round;
          border-image: url('../img/post_background.png') 5 round round;
}

.subscribe_form p {
  font-weight: 400;
  line-height: 22px;
  margin-top: 29px;
  margin-right: 22px;
  margin-bottom: 27px;
  margin-left: 21px;
  color: #5a5a5a;
}

.subscribe_form form {
  margin-left: 21px;
  padding-top: 7px;
}

.subscribe_form input[type="email"] {
  font: inherit;
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
  width: 368px;
}

.subscribe_form input::-webkit-input-placeholder {
  font-weight: 400;
  color:#999999;
}
.subscribe_form input::-moz-placeholder {
  font-weight: 400;
  color:#999999;
}
.subscribe_form input:-moz-placeholder {
  font-weight: 400;
  color:#999999;
}
.subscribe_form input:-ms-input-placeholder {
  font-weight: 400;
  color:#999999;
}

.subscribe_form input[type="email"]:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding: 9px;
}

.subscribe_form input[type="email"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
  padding: 9px;
}

.subscribe_button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 11px 17px;
  margin-left: 10px;
}

/* карта */
.map {
  height: 430px;
  width: 100%;
  margin: 0 -27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #323232;
  background-color: #c7c6c5;
  background-image: url('../img/map.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.pin {
  position: absolute;
  top: 139px;
  left: 266px;
}

.map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.map_legend {
  position: absolute;
  top: 62px;
  right: 27px;
  width: 302px;
  padding-top: 28px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  font-size: 14px;
  line-height: 20px;
  background-color: #ffffff;
  z-index: 10;
}

.map_legend_address {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.map_legend_contacts {
  font-weight: 400;
  line-height: 23px;
  margin: 0;
  margin-top: 17px;
  padding: 0;

}

.map_legend strong {
  display: block;
  margin-top: 1px;
  font-size: 18px;
  line-height: 24px;
}

.feedback_form_button {
  margin-top: 24px;
  margin-bottom: 31px;
  padding: 10px 27px;
  padding-left: 28px;
  font-size: 18px;
  line-height: 24px;
}

/* стили блока footer */
.main_footer {
  width: 1146px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.with_border {
  border-top: 1px solid #a9bbb1;
}

.social_wrapper {
  width: 185px;
  max-width: 185px;
}

.footer_social {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.footer_about_company {
  display: -webkit-box;
  display: -ms-flexbox;
        display: flex;
  width: 345px;
  margin-top: -6px;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.about_company {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.about_company li:first-of-type {
  margin-top: 8px;
}

.about_company li:last-of-type {
  padding-top: 4px;
}

.social_button {
  display: block;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social_button:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social_button:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social_button  .icon_path {
  fill: #ffffff;
  opacity: 0.7;
}

.social_button:hover .icon_path,
.social_button:focus .icon_path {
  opacity: 1;
}

.social_button:active .icon_path {
  fill: #e6ebe9;
}

.footer_copyright {
  font-size: 12px;
}
.footer_social a,
.about_company a,
.footer_copyright a {
  color: #ffffff;
}

.about_company a,
.footer_copyright a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.about_company a:hover,
.footer_copyright a:hover,
.about_company a:focus
.footer_copyright a:focus,
.about_company a:active,
.footer_copyright a:active{
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

.social::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
}

a.bold_href {
  font-weight: 700;
}
.left {
  position: relative;
  margin-left: 23px;
  margin-right: 31px;
}

.left li:first-of-type::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 10px;
  width: 15px;
  height: 15px;
  background-image: url('../img/heart.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* стили модального окна */
.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback_item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.modal_feedback input,
.modal_feedback textarea {
  padding: 15px;
  font: inherit;
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}

.modal_feedback input::-webkit-input-placeholder {
  font-weight: 400;
  color:#999999;
}
.modal_feedback input::-moz-placeholder {
  font-weight: 400;
  color:#999999;
}
.modal_feedback input:-moz-placeholder {
  font-weight: 400;
  color:#999999;
}
.modal_feedback input:-ms-input-placeholder {
  font-weight: 400;
  color:#999999;
}

.modal_feedback textarea::-webkit-input-placeholder {
  font-weight: 400;
  color:#999999;
}
.modal_feedback textarea::-moz-placeholder {
  font-weight: 400;
  color:#999999;
}
.modal_feedback textarea:-moz-placeholder {
  font-weight: 400;
  color:#999999;
}
.modal_feedback textarea:-ms-input-placeholder {
  font-weight: 400;
  color:#999999;
}

.modal_feedback input:focus,
.modal_feedback textarea:focus {
  color: #323232;
  padding: 14px;
  border: 2px solid #c7c6c5;
}

.modal_feedback input:hover,
.modal_feedback textarea:hover {
  color: #323232;
  padding: 14px;
  border: 2px solid #c7c6c5;
}

.modal_feedback input[type="text"],
.modal_feedback input[type="email"] {
  width: 267px;
}

.modal_feedback textarea {
  margin-bottom: 25px;
  width: 428px;
  resize: none;
}

.feedback_submit {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 13px 24px;
  font: inherit;
  font-size: 18px;
}

.modal_feedback h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

/* стили карты и блока контакты*/
.contacts p:nth-child(n) {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
}

.contacts p:nth-child(2n) {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
}

.contacts .button {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 28px;
  color: #ffffff;
}

/* стили кнопок социальных сетей*/
.footer_button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer_social {
  width: 186px;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 29px;
  margin: 0;
  margin-right: 215px;

  text-align: left;
  box-sizing: content-box;
}

/* стили страницы catalog.html*/
/* стили навигации внутренней страницы*/
.breadcrumbs {
  font-weight: 400;
  margin: 1;
  margin-top: 37px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
        display: flex;
  list-style: none;
}

.crumb {
  position: relative;
  padding-right: 7px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.crumb a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* фильтры */
.filters {
  margin-bottom: 40px;
  font-weight: 500;
}

.filters fieldset {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  border: none;
}

.filters legend {
  margin-left: 16px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.filters input {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.filters input::-webkit-input-placeholder {
  color:#999999;
}
.filters input::-moz-placeholder {
  color:#999999;
}
.filters input:-moz-placeholder {
  color:#999999;
}
.filters input:-ms-input-placeholder {
  color:#999999;
}

.filters_sorting {
  padding-top: 4px;
  padding-right: 32px;
  padding-bottom: 4px;
  padding-left: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filters_sorting:focus,
.filters_sorting:hover {

  color: #323232;
}

.filters_sorting:focus + .icon_down path,
.filters_sorting:hover + .icon_down path {
  fill: #323232;
}

.filters_sorting:focus + .icon_down,
.filters_sorting:hover + .icon_down {
  top: 17px;
  width: 9px;
  height: 5px;
}

.filters_background {
  padding: 7px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.sotring .filters_background:hover,
.sotring .filters_background:focus {
  background-color:#ffffff;
}

.select {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 6px;
  padding-left: 0px;
}

.icon_down {
  position: absolute;
  right: 15px;
  top: 14px;
  z-index: 1;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* линейка цен */
.price_controls {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.price_controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.price_controls input {
  width: 55px;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  background: none;
  border: none;
}

.min_price,
.max_price {
  width: 60px;
  margin-right: 6px;
  margin-top: -2px;
}

.price_controls::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 58%;
  width: 7px;
  height: 2px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price_line {
  position: relative;
  width: 220px;
  margin-right: 13px;
}

.price_line .filters_background {
  box-sizing: content-box;
  padding: 0;
  width: 220px;
  height: 37px;
}

.range_controls {
  position: absolute;
  bottom: 16px;
  left: 22px;
}

.scale {
  width: 178px;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
}

.bar {
  width: 107px;
  height: 4px;
  background: #ffffff;
  margin-left: 25px;
}

.range_toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range_toggle_min {
  left: 15px;
}

.range_toggle_max {
  right: 45px;
}

.range_toggle:hover {
  border: 11px solid #ffffff;
  top: -11px;
  cursor: pointer;
}

/* жирность */
.filters_background ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter_option {
  display: inline-block;
  vertical-align: top;
  padding-left: 33px;
  padding-right: 12px;
}

.filter_option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio_filter + label::before {
  content: "";
  position: absolute;
  left: -33px;
  top: -2px;
  width: 22px;
  height: 22px;
  border: 3px solid rgba(255, 255, 255 ,0.8);
  border-radius: 50%;
}

.radio_filter:hover + label::before,
.radio_filter:focus + label::before {
  border-color: rgba(255, 255 ,255, 1);
}

.radio_filter:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -26px;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.radio_filter:checked:hover + label::after,
.radio_filter:checked:focus + label::after{
  background-color: rgba(255, 255, 255, 1);
}

/* наполнители */
.fillers {
  margin-right: 15px;
}

.fillers .filters_background {
  padding: 8px 0px 8px 16px;
}

.checklist {
  padding-right: 17px;
  padding-left: 32px;
}

.checklist input,
.filter_option input {
  display: none;
}

.checkbox_filter + label::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.checkbox_filter:hover + label::before {
  border-color: rgba(255, 255, 255, 1);
}

.checkbox_filter:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -33px;
  width: 24px;
  height: 24px;
  background-image: url('../img/checkbox_on.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.checkbox_filter:checked:hover + label::after,
.checkbox_filter:checked:focus + label::after {
  opacity: 1;
}

/* кнопка применить */
.filters_submit {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 7px 29px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.filters_submit:hover,
.filters_submit:focus {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

.filters_submit:active {
  padding: 10px 30px;
  color: #323232;
  background-color: rgba(234, 234, 234, 1);
  border: none;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
          box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

/* стили пагинации */
.pagination_list {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  margin-right: -13px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
}

.pagination_item a {
  padding: 3px 8px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.current a {
  color: #323232;
  background-color: #ffffff;
}

.pagination_item a:hover,
.pagination_item a:focus {
  background-color:#b2cabd;
}

.pagination_item a:active {
  background-color: #ffffff;
  color: #323232;
}

.pagination_item {
  margin-right: 5px;
}

.pagination-item:last-of-type{
  margin-left: 4px;
}

.prev_page svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.disabled:hover,
.disabled:focus {
  background: none;
}

/* сетки */
.seo_items {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}


.seo_items li {
  position: relative;
  width: 50%;
  margin-bottom: 1px;
}

.seo_items p {
  margin: 0;
  margin-top: 20px;
  padding-left: 56px;
  padding-right: 10px;
}

.two p,
.four p {
  padding-left: 70px;
}

.seo_items li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.seo_items .one::before{
  background-image: url('../img/ice_cream.svg');
}

.seo_items .two::before{
  left: 12px;
  background-image: url('../img/cow.svg');
}

.seo_items .three::before{
  background-image: url('../img/leaf.svg');
}

.seo_items .four::before{
  left: 12px;
  background-image: url('../img/thermometer.svg');
}

.footer_copyright {
  width: 215px;
  margin-right: -27px;
  margin-top: -8px;
}

.footer_copyright p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.main_contacts {
  width: 215px;
  height: 100%;
  margin-right: -25px;
  text-align: center;
}

.first_row,
.second_row {
  display: -webkit-box;
  display: -ms-flexbox;
         display: flex;
}

.first_row {
  margin-bottom: 15px;
}

.sotring {
  margin-right: 17px;
}

.price_line .legend {
  margin-left: 11px;
  margin-bottom: 5px;
}

.fatness_level .legend {
  margin-left: 14px;
}

.fatness_level .filters_background {
  padding: 9px;
  padding-right: 5px;
  padding-left: 15px;
}

/* стили списка сливочного мороженого*/
.catalog_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding:0;
  list-style: none;
}

.ice_cream_list {
  margin-bottom: 10px;
}

.catalog_item_card {
  position: relative;
  width: 267px;
  min-height: 324px;
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog_item_img {
  width: 267px;
  height: 267px;
  margin-bottom: 14px;
  border-radius: 50%;
  z-index: 9;
}

.ice_cream_list .catalog_item_img {
  margin-bottom: 12px;
}

.price {
  position: absolute;
  margin: 0;
  bottom: 65px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
  z-index: 9;
}

.value {
  margin: 0;
  padding-right: 35px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.value::after {
  content: url('../img/price_designation.svg');
  position: absolute;
  top: 4px;
  right: 40px;
  width: 31px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.weight {
  margin-left: -12px;
  font-size: 30px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.description {
  margin: 0;
  min-height: 45px;
  max-width: 265px;
  padding-left: 6px;
  padding-right: 7px;
  text-align: center;
  z-index: 9;
}

.fast_view {
  position: absolute;
  bottom: -55px;
  left: 30px;
  display: none;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.catalog_item_card::after {
  position: absolute;
  content: '';
  left: -13px;
  top: -8px;
  width: 293px;
  height: 405px;
  border-radius: 5px;
}

.best_offer::before {
  content: "";
  position: absolute;
  top: 0px;
  z-index: 15;
  width: 60px;
  height: 60px;
  background-image: url('../img/hit.svg');
  background-position: 0 0;
}

.catalog_item_card:hover > .fast_view,
.catalog_item_card:focus > .fast_view {
  display: block;
  z-index: 10;
}

.catalog_item_card:hover::after,
.catalog_item_card:focus::after {
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.catalog_item_card:hover,
.catalog_item_card:focus {
  z-index: 10;
}


/* модальный диалог */
.modal {
  position: fixed;
  display: none;
  color: #323232;
  background-color: #f8f7f4;
}

.modal_feedback {
  top: 337px;
  left: 50%;
  margin-left: -235px;
  width: 478px;
  padding: 25px;
  border-radius: 10px;
}

.modal_close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal_close::before,
.modal_close::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 18px;
  height: 3px;
  background-color: #231f20;
}

.modal_close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal_close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal_dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/*  анимация на JS */
.show_modal {
  display: block;
  -webkit-animation: bounce 0.5s;
          animation: bounce 0.5s;
}

.error_modal {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

.visible {
  display: block;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  60% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  60% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  30% {
    -webkit-transform: translateX(-18px);
            transform: translateX(-18px);
  }
  50% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  70% {
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
  }
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20% {
    -webkit-transform: translateX(18px);
            transform: translateX(18px);
  }
  40% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  60% {
    -webkit-transform: translateX(12px);
            transform: translateX(12px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake{
  0%,
  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  30% {
    -webkit-transform: translateX(-13px);
            transform: translateX(-13px);
  }
  50% {
    -webkit-transform: translateX(-11px);
            transform: translateX(-11px);
  }
  70% {
    -webkit-transform: translateX(-9px);
            transform: translateX(-9px);
  }
  90% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }

  20% {
    -webkit-transform: translateX(13px);
            transform: translateX(13px);
  }
  40% {
    -webkit-transform: translateX(11px);
            transform: translateX(11px);
  }
  60% {
    -webkit-transform: translateX(9px);
            transform: translateX(9px);
  }
  80% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
}
