/* подключение шрифтов из локальной папки*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff') format('woff');
  src: url('../fonts/roboto.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff') format('woff');
  src: url('../fonts/robotobold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff') format('woff');
  src: url('../fonts/robotomedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* описание стиля visually-hidden*/
.visually-hidden {
  visibility: hidden;
  position: absolute;
}
/* описание тега body*/
body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-align: left;

  background-color: #849d8f;
  background-image: url('../img/slide_fon_1.png');
  background-position: top center;
  background-repeat: no-repeat;
}

 /* описание ссылок в макете(кроме исключений)*/
a {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;
}

/* описание стилей кнопок*/
.button {
  width: 280px;
  height: 65px;
  border-radius: 32px;

  font: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
}

.button:hover,
.button:focus {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                    linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
                    linear-gradient(to top, #e74a35, #f26843);
}

.link_in_button:hover {
  color: #ffffff;
}

/* отключение буллитов у элементов списков*/
.site_navigation,
.user_navigation,
.catalog_products,
.seo_items,
.footer_social ul,
.footer_about_company ul,
.breadcrumbs,
.slides {
  list-style: none;
}

/* стили навигации по сайту*/
.site_navigation a {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.site_navigation a:hover,
.site_navigation a:focus {
  color: #333333;
  background-color: #f7f6f3;
}

.site_navigation a:active {
  color: #323232;
  background-color: #ededed;
}

.site_navigation .current a {
  color: #ffffff;
  background-color: #d07058;
}

/* стили навигации по пользовательским элементам*/
.user_navigation a {
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
}

 /* скроем текст ссылки - "Поиск" и укажем ей картинку*/
.magnifier span {
  display: none;
}

.magnifier a {
  background-image: url('../img/magnifier.svg');
  background-repeat: no-repeat;
}

.magnifier a:hover,
.magnifier a:focus {
  background-color: #f8f7f4;
  background-image: url('../img/magnifier_fill.svg');
  background-position: left center;
  background-repeat: no-repeat;
}

.enter a {
  background-image: url('../img/enter.svg');
  background-position: left center;
  background-repeat: no-repeat;
}

.enter a:hover,
.enter a:focus {
  color: #323232;
  background-color: #f8f7f4;
  background-image: url('../img/enter_fill.svg');
  background-position: left center;
  background-repeat: no-repeat;
}

.cart a {
  background-image: url('../img/cart.svg');
  background-position: left center;
  background-repeat: no-repeat;
}

.cart a:hover,
.cart a:focus {
  color: #ffffff;
}

/* опишем состояние заполненной корзины*/
.cart_fill {
  background-color: #f8f7f4;
  background-image: url('../img/cart_fill.svg');
  color: #323232;
}

/* pop-up`s и всплывающие элементы пока спрячем*/
.catalog_products,
.product_search,
.personal_account,
.cart_filling {
  display: none;
}

/* стили блока слайдов*/
.slides {
  background-color: #cccccc;
}

.slides .slide_1 {
  background-image: url('../img/ice_cream_slide_1.png');
}
.slides .slide_2 {
  background-image: url('../img/ice_cream_slide_2.png');
}
.slides .slide_3 {
  background-image: url('../img/ice_cream_slide_3.png');
}

.slides p {
  font-size: 60px;
  line-height: 60.5px;
}

.slides .button {
  text-decoration: none;
  font-size: 32px;
  line-height: 44px;
  padding: 16px 42px;
}

.slides .button:hover,
.slides .button:focus {
  color: #ffffff;
}

/* стили блока Подарки*/
.raspberry {
  background-color: #b51c2e;
  background-image: url('../img/raspberries_free.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.chocolate {
  background-color: #5b351a;
  background-image: url('../img/chocolate_free.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.presents h3 {
  font: inherit;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.presents p {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.presents .button {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 23px;
}

.presents .button:hover,
.presents .button:focus {
  color: #ffffff;
}

/* стили блока SEO*/
.seo {
  background-color: #e8d7b6;
  background-image: url('../img/waffles_fon.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.seo li {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 22px;
  color: #323232;
}

.seo h2 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

/* стили блока Блог*/
.blogs {
  background-color: #ffffff;
  background-image: url('../img/strawberry_background.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.blogs h2 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;
  text-align: left;
}

.blogs a {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
  text-align: left;
}

/* стили блока Подписка на рассылку*/
.subscribe {
  background-color: #f8f7f4;

  background-image: url('../img/post_background.png');
  background-position: center center;
  background-repeat: no-repeat;

  background-image: url('../img/subscribe_background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  color: #5a5a5a;
}

.subscribe .subscribe_text {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #5a5a5a;
  text-align: left;
}

.subscribe .button {
  width: 129px;
  height: 44px;
  border-radius: 22px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);

  color: #f8f7f4;
}

.subscribe .button {
  width: 129px;
  height: 44px;
  border-radius: 22px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);

  color: #f8f7f4;
}

.subscribe .button:hover,
.subscribe .button:focus {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                    linear-gradient(to top, #e74a35, #f26843);
}

.subscribe .button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
                    linear-gradient(to top, #e74a35, #f26843);
}

/* стили карты и блока контакты*/
.contacts p:nth-child(n) {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
}

.contacts p:nth-child(2n) {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
}

.contacts .button {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 28px;
  color: #ffffff;
}

/* стили кнопок социальных сетей*/
.footer_social {
  text-align: left;
}

.footer_social a {
  width: 32px;
  height: 32px;
  object-fit: contain;
  opacity: 0.8;
  background-image: url('../img/framing.png');
}

.footer_social a:hover,
.footer_social a:focus {
  width: 32px;
  height: 32px;
  object-fit: contain;
  background-image: url('../img/framing.png');
}

.footer_social a:active {
  width: 32px;
  height: 32px;
  background-color: #e9e9e9;
  background-image: url('../img/framing.png');
}

/* стили ссылок о компании*/
.footer_about_company a {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.first_column li:first-child::before {
  position: relative;
  content: url('../img/heart.svg');
}

.footer_about_company li:first-child {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  text-align: left;
}

/* стили копирайта*/
.footer_copyright a,
.footer_copyright {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.logo_htmlacademy {
  width: 108px;
  height: 39px;
}

/* стили страницы catalog.html*/
/* стили блока расписание */
.schedule_phone {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  text-align: right;
}

.schedule_phone p {
  font-size: 14px;
  line-height: 16px;
}

.schedule_phone a {
  font-size: 22px;
  line-height: 24px;
}

/*стили блока breadcrumbs*/
.breadcrumbs a {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

.breadcrumbs li:not(:first-child)::before {
  content: " » ";
}

.breadcrumbs .current a {
  color: #ffffff;
}

/* стили блока фильтров*/
.filter fieldset {
  border: none;
}

.filter legend {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}
.sorting {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
  background-color: #849d8f;
}

.sorting option[selected] {
  font-size: 16px;
  color: #323232;
}

.filter_input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.filter label {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.filter .button {
  width: 144px;
  height: 37px;
  border: 2px solid #ffffff;
  color: #ffffff;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.2);
}

.filter .button:hover,
.filter .button:focus {
  color: #323232;
  background: #ffffff;
}

.filter .button:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

/* стили списка сливочного мороженого*/
.catalog_list {
  list-style: none;
}

.catalog_item h3 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.catalog_list p {
  font-size: 45px;
  line-height: 45px;
  text-align: left;
}

.catalog_list span {
  font-size: 30px;
  line-height: 45px;
  text-align: left;
}

/* стили пагинации*/
.pagination_list a {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

.pagination_list .current_page {
  opacity: 0.2;
}

.pagination_list .pagination_item_current {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #323232;
  background-color: #ffffff;
}

.pagination_list .pagination_item {
  font-size: 16px;
  line-height: 18px;
  color:  #ffffff;
}

.pagination_list .pagination_item:hover,
.pagination_list .pagination_item:focus {
  color:  #ffffff;
  opacity: 0.2;
}

.pagination_list .pagination_item:active {
  color:  #000000;
  opacity: 1;
}

/* Стили сеток*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.main_header {
  width: 100%;
}

.main_navigation {
  display: flex;
  padding-top: 9px;
}

.main_navigation_wrapper {
  display: flex;
  align-items: center;
}

.main_header_logo {
  width: 154px;
  height: 64px;

  margin-right: 24px;
}

.site_navigation {
  display: flex;
  justify-content: space-between;

  width: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user_navigation {
  display: flex;
  justify-content: space-between;

  width: 245px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.seo {
  margin-bottom: 40px;
  padding: 21px;
}

.seo_header {
  padding-top: 8px;
}

.seo_items {
  display: flex;
  flex-wrap: wrap;
}

.seo_items li {
  width: 475px;
  padding-left: 50px;
}

.blogs_subscribe {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.blogs {
  margin: 0;
  padding: 20px 261px 20px 20px;
  width: 560px;
}

.blogs h2 {
  padding-top: 6px;
}

.subscribe {
  width: 560px;
}

.subscribe .subscribe_text {
  padding-top: 37px;
  padding-left: 27px;
}

.subscribe .subscribe_inputs {
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 40px;
}

.subscribe_inputs .input_email {
   width: 368px;
}

.main_footer_wrapper {
  display: flex;
}

.footer_social {
  width: 186px;
  padding: 36px 0 29px 0;
  margin: 0;
  margin-right: 215px;
}

.main_footer_wrapper .footer_about_company{
  display: flex;
  align-content: center;
}

.footer_about_company {
  justify-content: space-between;
  width: 325px;
  padding: 36px 0 29px 0;
  margin: 0;
}

.first_column {
  width: 111px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.second_column {
  width: 162px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer_copyright {
  width: 189px;
  margin: 0;
  margin-left: auto;
  padding: 18px 0 26px 0;
}

.inner_page .main_navigation {
  align-items: flex-start;
  flex-direction: row;
}

.inner_page .site_navigation {
  margin-right: 10px;
}

.inner_page .user_navigation {
  margin-left: auto;
}

.under_header {
  display: flex;
  justify-content: space-between;
}

 .under_header .schedule_phone {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
 }

  .under_header .schedule_phone p {
  margin-bottom: 8px;
 }

 .under_header .breadcrumbs {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
 }

 .catalog_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog_item {
  width: 267px;
  margin-bottom: 40px;
  margin-right: 26px;
}

.catalog_item:nth-child(4n) {
  margin-right: 0;
}










